/* vars setup */

:root {
  --text-color: #1d1d1f;
}

* {
  font-family: "SF Pro Display Regular";
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

.visually-hidden {
  display: none;
}
.website-Wrapper {
  position: relative;
}
/* navbar setup */
.navbar {
  z-index: 100;
  opacity: 0.8;
  width: 100%;
  height: 3rem;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333333;
}
.navbar > ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.navbar > ul > li,
.navbar > ul > li > i {
  opacity: 0.8;
  color: #ffffff;
  margin: 0 1rem;
}
.navbar > ul > li:hover,
.navbar > ul > li > i:hover {
  opacity: 1;
}
.navbar > ul > li > a {
  font-family: "SF Pro Text Regular";
  font-size: 0.8rem;
  color: #ffffff;
  text-decoration: none;
}

.navbar-placeholder {
  height: 3rem;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -10;
  background-color: #333333;
}

/* holidays */
.holiday-banner {
  width: 100%;
  height: 3rem;
  background-color: #e3403f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.holiday-banner > p {
  opacity: 0.6;
  color: #ffffff;
  font-size: 1rem;
}
.holiday-banner > p > a {
  color: #ffffff;
  font-size: 1rem;
  text-decoration: none;
}
.holiday-banner > p > a:hover {
  opacity: 1;
  text-decoration: underline;
}

.holiday-container {
  display: flex;
  flex-direction: column;
  background-color: #e9f2fc;
  width: 100%;
  align-items: center;
}

.holiday-container > img {
  margin-top: 2rem;
}
.holiday-container > header {
  margin-top: 1rem;
  font-size: 4rem;
  font-weight: bold;
}
.holiday-container > .shoplink {
  color: #0065cc;
}
